@media screen and (max-width: 1844px) {
}
@media (max-width: 1200px) {
  .view {
    text-align: center;
  }
  .lin ul {
    display: flex;
    justify-content: space-between;
  }
  .links ul {
    text-align: center;
  }
  .act {
    margin: auto;
  }

  .layout {
    display: block;
  }

  .strt {
    width: 100%;
  }

  .review {
    width: 100%;
  }
  .reservation {
    width: 100%;
  }

  .massage {
    grid-template-columns: auto;
    width: 100%;
  }

  .over h3 {
    margin-right: 0;
    text-align: center;
  }

  .container {
    width: 100%;
  }

  .card-res {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1110px) {
  .links a {
    font-size: 15px;
  }

  .layout {
    display: block;
  }

  .view {
    width: 100%;
    height: auto;
  }

  .strt {
    width: 100%;
  }

  .review {
    width: 100%;
  }
  .reservation {
    width: 100%;
  }

  .massage {
    grid-template-columns: auto;
    width: 100%;
  }

  .over h3 {
    margin-right: 0;
    text-align: center;
  }

  .container {
    width: 100%;
  }
  .card-res {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 925px) {
  main {
    padding: 0 30px;
  }
  .links a {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 15px;
    width: 100;
  }

  .fics {
    flex-direction: column-reverse;
  }
  .lego img {
    margin: auto;
  }

  .navi {
    display: block;
  }
  .button img {
    display: block;
  }

  .links {
    display: none;
  }
  .links-2 ul {
    width: 150px;
    padding: 15px;
    background-color: #eceaea;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  .layout {
    padding: 10px;
  }

  .view,
  .strt,
  .reservation,
  .review {
    width: 100%;
  }

  .review-content {
    flex-direction: column;
    gap: 10px;
  }

  .reat {
    flex-direction: column;
    gap: 10px;
  }
  .lin ul {
    display: grid;
    grid-template-columns: auto;
  }
  .lin p {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .activities {
    padding: 10px;
  }
  .card-res {
    display: flex;
    flex-direction: row;
  }
  .reat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 637px) {
  .card-res {
    display: block;
  }
  .strt{
    width: 100%;
  }
  .strt .cheakin{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .strt .cheakout{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .strt .progres{
     width: 100%;
    display: flex;
    justify-content: space-between; 

  }
  .strt .tod{
    margin: auto;
    text-align: center;
    width: 30%;

  }

}
@media (max-width: 605px) {
  .strt {
    display: block;
    padding: 10px;
    gap: 15px;
  }

  .reservation {
    width: 100%;
    padding: 10px;
  }
  .card-res {
    display: block;
  }
}
@media (max-width: 480px) {
  .button {
    order: 1;
  }
  .lego {
    order: 2;
  }
  .fics {
    order: 3;
  }
  .links ul {
    font-size: 14px;
  }

  .fics {
    flex-wrap: wrap;
  }
  .strt {
    display: block;
    padding: 10px;
    gap: 15px;
  }
  .reservation {
    width: 100%;
    padding: 10px;
  }
  .card-res {
    display: block;
  }

  .room img {
    width: 100%;
    height: auto;
  }

  .act,
  #act {
    width: 100%;
  }

  .massage-card,
  .activity-card {
    flex-direction: column;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
}
